body{
    background-color: rgb(34, 33, 33);
    color: white;
}
img{
    width: 100%;
}
.movie-card{
    height: 500px;
    background-color: rgb(49, 47, 47);
    border-radius: 10px;
}
.card-image{
    overflow: hidden;
}
